## **List Comprehension**

In [1]:
#List comprehension is a complete substitute to 
#for loops,lambda,map and reduce functions

In [3]:
#square of each number
[i**2 for i in range(1,5)]

[1, 4, 9, 16]

In [4]:
#square of odd numbers
[i**2 for i in range(10) if (i%2!=0)]     #if condition

[1, 9, 25, 49, 81]

In [6]:
#take square if numbers divisible by 2 and 3
[i**2 for i in range(1,15) if(i%2==0) if(i%3==0)]     #nested if

[36, 144]

In [7]:
#add 2 if even sub 1 if odd
[i+2 if(i%2==0) else i-1  for i in range(1,8)]       #if-else

[0, 4, 2, 6, 4, 8, 6]

In [8]:
#nested list comprehension
arr = [[1,2],[3,4],[5,6]]
[i for list_ in arr for i in list_]

[1, 2, 3, 4, 5, 6]

In [9]:
import timeit

print(timeit.timeit('[i**2 for i in range(10)]',number=1000000)) #number is number of executions we want to consider

2.8145805899999914

In [11]:
a=10
l2=[]
def func(n):
    for i in range(n):
        l2.append(i**2)
        
    return l2

In [12]:
print(timeit.timeit('func(a)', globals=globals(),number=1000000))

3.4784114340000087

## **Zip**

In [13]:
name = ['vivek','opinder','niranjan','vikram','yogesh']
comp = ['MNC','samsung','oracle','ongc','subros']
age = [23,24,22,26,25]

In [15]:
res1 = list(zip(name,comp,age))
res1

[('vivek', 'MNC', 23),
 ('opinder', 'samsung', 24),
 ('niranjan', 'oracle', 22),
 ('vikram', 'ongc', 26),
 ('yogesh', 'subros', 25)]

In [17]:
res2 = set(zip(name,comp,age))
res2

{('niranjan', 'oracle', 22),
 ('opinder', 'samsung', 24),
 ('vikram', 'ongc', 26),
 ('vivek', 'MNC', 23),
 ('yogesh', 'subros', 25)}

In [19]:
for i,j in list(zip(name,age)):
  print('Player: %s  Age: %d'%(i,j))

Player: vivek  Age: 23
Player: opinder  Age: 24
Player: niranjan  Age: 22
Player: vikram  Age: 26
Player: yogesh  Age: 25

## **Unzipping**

In [20]:
n,c,a = zip(*res1)

In [21]:
print(n)
print(c)
print(a)

('vivek', 'opinder', 'niranjan', 'vikram', 'yogesh')
('MNC', 'samsung', 'oracle', 'ongc', 'subros')
(23, 24, 22, 26, 25)

In [24]:
#imp
import numpy as np
a = np.array(['a','a','b','d','c','d','c','c','d','d'])
b = np.array(['a','b','c','d'])
c = np.array([5,4,9,6])

In [25]:
print(np.unique(a,return_counts=True))

(array(['a', 'b', 'c', 'd'], dtype='<U1'), array([2, 1, 3, 4]))

In [28]:
list(zip(*np.unique(a,return_counts=True)))

[('a', 2), ('b', 1), ('c', 3), ('d', 4)]

In [29]:
list(zip(*(b,c)))

[('a', 5), ('b', 4), ('c', 9), ('d', 6)]

## **N-grams**

## **Bi-Grams**

In [30]:
list1=['good evening sir how r u','what would you like to order','one banana shake please']

In [36]:
[j for i in list1  for j in zip(i.split()[:-1],i.split()[1:])]

[('good', 'evening'),
 ('evening', 'sir'),
 ('sir', 'how'),
 ('how', 'r'),
 ('r', 'u'),
 ('what', 'would'),
 ('would', 'you'),
 ('you', 'like'),
 ('like', 'to'),
 ('to', 'order'),
 ('one', 'banana'),
 ('banana', 'shake'),
 ('shake', 'please')]

## **Tri-gram**

In [37]:
[j for i in list1  for j in zip(i.split()[:-2],i.split()[1:-1],i.split()[2:])]

[('good', 'evening', 'sir'),
 ('evening', 'sir', 'how'),
 ('sir', 'how', 'r'),
 ('how', 'r', 'u'),
 ('what', 'would', 'you'),
 ('would', 'you', 'like'),
 ('you', 'like', 'to'),
 ('like', 'to', 'order'),
 ('one', 'banana', 'shake'),
 ('banana', 'shake', 'please')]

## **N-gram**

In [39]:
from nltk import ngrams
sent='hii sir this is to inform you that tommorow i will be on leave'

In [40]:
n = 6
six_grams = ngrams(sent.split(),n)
for x in six_grams:
  print(x)

('hii', 'sir', 'this', 'is', 'to', 'inform')
('sir', 'this', 'is', 'to', 'inform', 'you')
('this', 'is', 'to', 'inform', 'you', 'that')
('is', 'to', 'inform', 'you', 'that', 'tommorow')
('to', 'inform', 'you', 'that', 'tommorow', 'i')
('inform', 'you', 'that', 'tommorow', 'i', 'will')
('you', 'that', 'tommorow', 'i', 'will', 'be')
('that', 'tommorow', 'i', 'will', 'be', 'on')
('tommorow', 'i', 'will', 'be', 'on', 'leave')