In [1]:
import pickle 
import pandas as pd

# **Dumping a list as pickle**

In [3]:
data_list = ['sourav','aman','vivek','opinder','niranjan']
pickle.dump(data_list,open('/content/drive/MyDrive/name_list.pkl','wb'))

# **Reading a list saved as pickle**

In [4]:
with open('/content/drive/MyDrive/name_list.pkl','rb') as f :
  data = pickle.load(f)

In [5]:
print(data)

['sourav', 'aman', 'vivek', 'opinder', 'niranjan']

# **Dumping a dataframe as pickle**

In [6]:
dict_ = {'name':['souav','vivek','niranjan','opinder'],'age':[25,23,22,24],'salary':['50k','90k','40k','70k']}

In [7]:
df = pd.DataFrame(dict_)
df.head()

       name  age salary
0     souav   25    50k
1     vivek   23    90k
2  niranjan   22    40k
3   opinder   24    70k

In [8]:
df.to_pickle('/content/drive/MyDrive/employee_data.pkl')

# **Reading a dataframe saved as pickle**

In [10]:
emp_df = pd.read_pickle('/content/drive/MyDrive/employee_data.pkl')
emp_df

       name  age salary
0     souav   25    50k
1     vivek   23    90k
2  niranjan   22    40k
3   opinder   24    70k