In [1]:
a = 5
while a>0: print(a);a-=1

5
4
3
2
1

In [3]:
m_list = ['a','b','c','d']
for x in m_list:print(x,end=' ')

a b c d

In [4]:
#separate even nd odd no's
for n in range(20): print('even: ',n) if n%2==0 else print('odd: ',n)

even:  0
odd:  1
even:  2
odd:  3
even:  4
odd:  5
even:  6
odd:  7
even:  8
odd:  9
even:  10
odd:  11
even:  12
odd:  13
even:  14
odd:  15
even:  16
odd:  17
even:  18
odd:  19

In [5]:
odd =[]
even =[]

for n in range(20):even.append(n) if n%2==0 else odd.append(n)
print('Even: ',even)
print('Odd: ', odd)

Even:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Odd:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
for i,n in enumerate(range(20,30)):print(i,'th iteration'); print('even: ',n) if n%2==0 else print('odd: ',n)

0 th iteration
even:  20
1 th iteration
odd:  21
2 th iteration
even:  22
3 th iteration
odd:  23
4 th iteration
even:  24
5 th iteration
odd:  25
6 th iteration
even:  26
7 th iteration
odd:  27
8 th iteration
even:  28
9 th iteration
odd:  29

In [8]:
#passing the odd no's
#printing only even no's
####################  it is like pass statement, but its compulsary to write something here, otherwise it will throw error
for n in range(7,16): n if n%2!=0 else print(n)

8
10
12
14

In [11]:
for n in range(7,16): if n%2!=0 else print(n)

SyntaxError: ignored

In [12]:
for n in range(7,16): 1 if n%2!=0 else print(n)

8
10
12
14

In [13]:
for n in range(7,16): 'a' if n%2!=0 else print(n)

8
10
12
14