# List Comprehension

In [14]:
#List comprehension is a complete substitute to 
#for loops,lambda,map and reduce functions

In [2]:
#square of each number
[i**2 for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
#square of odd numbers from 1 to 20

[i**2 for i in range(1,20) if(i%2!=0)]                #if condition

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [6]:
                                                      #nested if
#take sqaure of numbers divisible by 2 and 3

[i**2 for i in range(1,20) if(i%2==0) if(i%3==0)]

[36, 144, 324]

In [7]:
                                                      #if else
#add +2 if even, sub 1 if odd

[i+2 if(i%2==0) else i-1 for i in range(1,20)]

[0, 4, 2, 6, 4, 8, 6, 10, 8, 12, 10, 14, 12, 16, 14, 18, 16, 20, 18]

In [13]:
                                                    #nested list comprehension
two_dim=[[1,2],[3,4],[5,6,7,8]]
flatten=[j for x in two_dim   for j in x ]
flatten

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
import timeit

In [19]:
print(timeit.timeit('[i**2 for i in range(10)]',number=1000000)) #number is number of executions we want to consider

4.067677000000003

In [22]:
a=10
l2=[]
def func(n):
    for i in range(n):
        l2.append(i**2)
        
    return l2

In [24]:
print(timeit.timeit('func(a)', globals=globals(),number=1000000))

4.776496999999836

# Boolean indexing

In [2]:
dic={'name':['sourav','niranjan','opinder','vikram','vivek'],
     'cmp':['ril','oracle','samsung','psu','nitie'],
     'pkg':[6,5.5,9,12,24]
    }

In [3]:
import pandas as pd

In [5]:
df=pd.DataFrame(dic,index=[True,False,False,True,True])

In [6]:
df

           name      cmp   pkg
True     sourav      ril   6.0
False  niranjan   oracle   5.5
False   opinder  samsung   9.0
True     vikram      psu  12.0
True      vivek    nitie  24.0

In [7]:
df.loc[True]

        name    cmp   pkg
True  sourav    ril   6.0
True  vikram    psu  12.0
True   vivek  nitie  24.0

In [8]:
df.loc[False]

           name      cmp  pkg
False  niranjan   oracle  5.5
False   opinder  samsung  9.0

In [11]:
df.iloc[1]

name    niranjan
cmp       oracle
pkg          5.5
dtype: object

# Zip

In [1]:
name=['sourav','niranjan','opinder','vikram','vivek','sourav']
cmp=['ril','oracle','samsung','psu','nitie','ril']
pkg=[6,5.5,9,12,24,6]

In [2]:
res1=zip(name,cmp,pkg)
res1

In [23]:
res2=set(zip(name,cmp,pkg))
res2

{('niranjan', 'oracle', 5.5),
 ('opinder', 'samsung', 9),
 ('sourav', 'ril', 6),
 ('vikram', 'psu', 12),
 ('vivek', 'nitie', 24)}

In [3]:
res3=list(zip(name,cmp,pkg))
res3

[('sourav', 'ril', 6),
 ('niranjan', 'oracle', 5.5),
 ('opinder', 'samsung', 9),
 ('vikram', 'psu', 12),
 ('vivek', 'nitie', 24),
 ('sourav', 'ril', 6)]

In [25]:
players=['mani','vivek','vikram','niranjan','opi']
age=[25,23,23,24,23]

for a,b in zip(players,age):
    print('Player:  %s    Age:   %d'%(a,b))

Player:  mani    Age:   25
Player:  vivek    Age:   23
Player:  vikram    Age:   23
Player:  niranjan    Age:   24
Player:  opi    Age:   23

# Unzipping

In [26]:
name,com,pkg=zip(*res2)

In [27]:
name

('opinder', 'vikram', 'sourav', 'niranjan', 'vivek')

In [28]:
com

('samsung', 'psu', 'ril', 'oracle', 'nitie')

In [29]:
pkg

(9, 12, 6, 5.5, 24)

# N-grams

# Bi-gram

In [11]:
list1=['good evening sir how r u','what would you like to order','one banana shake please']

In [12]:
[j for i in list1  for j in zip(i.split()[:-1],i.split()[1:])]

[('good', 'evening'),
 ('evening', 'sir'),
 ('sir', 'how'),
 ('how', 'r'),
 ('r', 'u'),
 ('what', 'would'),
 ('would', 'you'),
 ('you', 'like'),
 ('like', 'to'),
 ('to', 'order'),
 ('one', 'banana'),
 ('banana', 'shake'),
 ('shake', 'please')]

# Tri-gram

In [13]:
[j for i in list1  for j in zip(i.split()[:-2],i.split()[1:-1],i.split()[2:])]

[('good', 'evening', 'sir'),
 ('evening', 'sir', 'how'),
 ('sir', 'how', 'r'),
 ('how', 'r', 'u'),
 ('what', 'would', 'you'),
 ('would', 'you', 'like'),
 ('you', 'like', 'to'),
 ('like', 'to', 'order'),
 ('one', 'banana', 'shake'),
 ('banana', 'shake', 'please')]

# N-gram

In [20]:
from nltk import ngrams
sent='hii sir this is to inform you that tommorow i will be on leave'

n=6
six_grams=ngrams(sent.split(),n)
for x in six_grams:
    print(type(x),x)

<class 'tuple'> ('hii', 'sir', 'this', 'is', 'to', 'inform')
<class 'tuple'> ('sir', 'this', 'is', 'to', 'inform', 'you')
<class 'tuple'> ('this', 'is', 'to', 'inform', 'you', 'that')
<class 'tuple'> ('is', 'to', 'inform', 'you', 'that', 'tommorow')
<class 'tuple'> ('to', 'inform', 'you', 'that', 'tommorow', 'i')
<class 'tuple'> ('inform', 'you', 'that', 'tommorow', 'i', 'will')
<class 'tuple'> ('you', 'that', 'tommorow', 'i', 'will', 'be')
<class 'tuple'> ('that', 'tommorow', 'i', 'will', 'be', 'on')
<class 'tuple'> ('tommorow', 'i', 'will', 'be', 'on', 'leave')

# Generator & iterator

# Iterator

In [41]:
class count():
    def __init__(self,low,high):
        self.current=low
        self.next=high
    def __iter__(self):
        return self
    def __next__(self):
        if self.current > self.next:
            raise StopIteration
        else:
            x=self.current
            self.current+=1
        return x

In [42]:
c=count(1,5)
for i in c:
    print(i,end=" ")

1 2 3 4 5

In [47]:
class sqr():
    def __init__(self,low,high):
        self.current=low
        self.next=high
    def __iter__(self):
        return self
    def __next__(self):
        if self.current > self.next:
            raise StopIteration
        else:
            x=self.current*self.current
            self.current+=1
        return x

In [48]:
s=sqr(1,9)

In [49]:
for i in s:
    print(i,end=" ")

1 4 9 16 25 36 49 64 81

# Generator

In [50]:
def sqr_gen(l,h):
    while(l<=h):
        yield l**2
        l+=1

In [53]:
sqr=sqr_gen(1,5)                
for i in sqr:
    print(i,end=" ")

1 4 9 16 25

In [55]:
for i in sqr_gen(1,10):
    print(i,end=" ")

1 4 9 16 25 36 49 64 81 100

In [56]:
def vowel():
    yield 'a'
    yield 'e'
    yield 'i'
    yield 'o'
    yield 'u'

In [57]:
for i in vowel():
    print(i,end=" ")

a e i o u