In [ ]:
#https://youtu.be/AEE9ecgLgdQ?si=rTqazFOfCe8_YGOY
import re

In [ ]:
text = "123abc456pqrABCD"

#mtd-1

pattern = r"abc"
result1 = re.findall(pattern,text)
print(result1)

#mtd-2

pattern = re.compile(r"abc")
result2 = pattern.findall(text)
print(result2)

['abc']
['abc']

# **Methods to search for matches**

In [ ]:
# findall - Returns a list containing all matches
# finditer - It is similar to findall but it return a iterator of match objects instead of a list of matches
#          - It also provide detailed information about match objects like start/end positions.

# search - It simply return the "first match object" if there is a match anywhere in the string

# **Methods to modify a match object**

In [ ]:
# sub    - Replaces the matches with a string
# split  - Returns a list where the string has been split at each match

# **finditer**

**group, start, end, span**

In [ ]:
text = "123abc456789abc123ABC"

pattern = re.compile(r"abc")
matches = pattern.finditer(text)

for match in matches:
    print(match)

<re.Match object; span=(3, 6), match='abc'>
<re.Match object; span=(12, 15), match='abc'>

In [ ]:
text = "123abc456789abc123ABC"

pattern = re.compile(r"abc")
matches = pattern.finditer(text)

for match in matches:
  print(match.group(), match.start(), match.end(), match.span())

abc 3 6 (3, 6)
abc 12 15 (12, 15)

# **findall**

In [ ]:
text = "123abc456789abc123ABC"

pattern = re.compile(r"abc")
matches = pattern.findall(text)
print(matches)

['abc', 'abc']

# **search**

**unlike finditer it will simply return the first match object**

In [ ]:
text = "123abc456789abc123ABC"

pattern = re.compile(r"abc")
match = pattern.search(text)

print(match)

<re.Match object; span=(3, 6), match='abc'>

In [ ]:
text = "123abc456789abc123ABC"

pattern = re.compile(r"abc")
match = pattern.search(text)

print(match.group(), match.start(), match.end(), match.span())

abc 3 6 (3, 6)

# **sub**

In [ ]:
txt = "The rain in Spain"

re.sub(r'ai','**',txt)

'The r**n in Sp**n'

# **split**

In [ ]:
txt = "The rain in Spain"

re.split(r'\s',txt)

['The', 'rain', 'in', 'Spain']

In [ ]:
txt = "123abc456abc123ABC"

re.split(r'abc',txt)

['123', '456', '123ABC']

## **MetaCharacters**

 .  ?  +  *  {}  ^  $  |  \   []  ()

In [ ]:
.   any character except new line character


?   zero or one occurrences
+   one or more occurrances
*   zero or more occurrances
{m} exactly "m" no of occurrances
{m,} minimum "m" no of occurrances
{m,n} minimum "m" and maximum "n" no of occurrances


^   string strats with
$   string ends with

|   either or
\   Special sequence  or    can also be used to escape meaning of the following special character
    ( "\d"  "\w"  "\s" )   (\. matches the . character in the string) (\$ matches the $ character in the string)

[]  A set of characters
()  capture and group

# **Quantifiers**

In [ ]:
?  +   *   {m}   {m,}   {m,n}

In [ ]:
text = "snkv  kamboj sourav k supriyav"
print(re.findall(r's.*v',text))

['snkv  kamboj sourav k supriyav']

In [ ]:
#* is greedy, meaning it tries to match as much as possible.
#Adding ? tells the regex engine to match the smallest possible sequence that satisfies the pattern.
#.*? matches any number of characters (non-greedy)
print(re.findall(r's.*?v',text))

['snkv', 'sourav', 'supriyav']

In [ ]:
text = "kamsourav boj"

print(re.findall(r's.+v',text))

['sourav']

In [ ]:
text = "kamsv boj"

print(re.findall(r's.?v',text))

['sv']

In [ ]:
text = "sv skv skkv skkkv"
print(re.findall(r's.{1}v',text)) #extactly 1 occurrance
print(re.findall(r's.{2}v',text)) #extactly 2 occurrances
print(re.findall(r's.{1,}v',text)) #one or more but it would not work this way
print(re.findall(r's\w{1,}v',text)) #one or more this will work

['skv']
['skkv']
['sv skv skkv skkkv']
['skv', 'skkv', 'skkkv']

In [ ]:
#lets find . in the given string
#for that we need to escape it with back-slash
text = "123.45.acd"
print(re.findall(r'\.',text))

['.', '.']

In [ ]:
text = "123abc456ABC"
print(re.findall(r'^123',text))  #string strats with 123

['123']

In [ ]:
print(re.findall(r'ABC$',text)) #string ends with ABC

['ABC']

In [ ]:
print(re.findall(r'^123|ABC$',text)) #string  starts with 123 or ends with ABC

['123', 'ABC']

In [ ]:
print(re.findall(r'^123.*ABC$',text)) #string starting with 123 and ending with ABC

['123abc456ABC']

# **Sets**

In [ ]:
text = "the rain in the spain"
print(re.findall(r'[asn]',text))  #a ,s or n

['a', 'n', 'n', 's', 'a', 'n']

In [ ]:
print(re.findall(r'[^asn]',text)) #any character except a,s and n

['t', 'h', 'e', ' ', 'r', 'i', ' ', 'i', ' ', 't', 'h', 'e', ' ', 'p', 'i']

In [ ]:
print(re.findall(r'[a-m]',text)) #lowercase alphabets b/w a to m

['h', 'e', 'a', 'i', 'i', 'h', 'e', 'a', 'i']

In [ ]:
#note: if we put - between two digits/alphabets, it will be considered as range
#if it is put outside, it will considered as -
text = "8 times before 11-45 AM"
print(re.findall(r'[0-9-]',text))   #any single-digit no between 0 to 9

['8', '1', '1', '-', '4', '5']

In [ ]:
print(re.findall(r'[0-5][0-7]',text)) #any two-digit no betweeen [00-57]

['11', '45']

In [ ]:
text = "SPAIN before$ 11:45 AM"
print(re.findall(r'[0-9a-zA-Z]',text)) #any character b/w 0-9 a-z or A-Z

['S', 'P', 'A', 'I', 'N', 'b', 'e', 'f', 'o', 'r', 'e', '1', '1', '4', '5', 'A', 'M']

# **Special Sequences**

In [ ]:
\d : matches any (single digit) (whole numbers) [0-9]
\D : matches any (non-digit character )

\w : matches any (alphanumeric charaters) [a-zA-Z0-9_]
\W : matches any (non-alphanumeric character)

\s : matches any (whitespace character) (space: " ", tab: "\t", newline: "\n")
\S : matches any (non-whitespace character)

\b : matches any (word boundary) : matches where specified characters are at the begining or end of a word
\B : matches any (non-word boundary) : matches where specified characters are present, but NOT at the begining or end of a word

\A : matches if specified characters are present at the very beginning of a entire string regardless of line breaks
\Z : matches if specified characters are present at the very end of a entire string regardless of line breaks

In [ ]:
#Difference b/w ^ and \A

# \A works at the start of the entire string (ignores line breaks)
# ^ works at the start of each line (respects line breaks)

print(re.findall(r"\AThe","Some text\nThe quick brown fox"))
print(re.findall(r"\AThe","The text\nThe quick brown fox"))

[]
['The']

In [ ]:
#But without  re.MULTILINE   " ^ " will only check the very start of the entire string just like " \A "
print(re.findall(r"^The","Some text\nThe quick brown fox"))
print(re.findall(r"^The","The text\nThe quick brown fox"))

[]
['The']

In [ ]:
#re.MULTILINE Allows, ^ and $ to match the start and end of each line, rather than the entire string.
print(re.findall(r"^The","Some text\nThe quick brown fox",re.MULTILINE))
print(re.findall(r"^The","The text\nThe quick brown fox",re.MULTILINE))

['The']
['The', 'The']

In [ ]:
text = "hello_123_hey honey"
print(re.findall(r'\d',text))
print(re.findall(r'\d\d',text))
print(re.findall(r'\d+',text))
print(re.findall(r'_\d+_',text))

['1', '2', '3']
['12']
['123']
['_123_']

In [ ]:
text = "hello-hi-im 01.04.2020 2023.04.01 2024/02/01 2025-01-07"
print(re.findall(r'\d\d\d\d-\d\d-\d\d',text))
print(re.findall(r'\d\d\d\d/\d\d/\d\d',text))
print(re.findall(r'\d\d\d\d\.\d\d\.\d\d',text)) # \. will look for . only
print(re.findall(r'\d\d\d\d[-/]\d\d[-/]\d\d',text))
print(re.findall(r'\d\d\d\d.\d\d.\d\d',text))  # . will look for any charcter

#let's say we want dates only with month 01/02
print(re.findall(r'\d\d\d\d.0[12].\d\d',text))
#simi if we are looking only for 2023 & 2024
print(re.findall(r'202[34].\d\d.\d\d',text))

['2025-01-07']
['2024/02/01']
['2023.04.01']
['2024/02/01', '2025-01-07']
['2023.04.01', '2024/02/01', '2025-01-07']
['2024/02/01', '2025-01-07']
['2023.04.01', '2024/02/01']

In [ ]:
#lets replace all the above examples with quantifiers
print(re.findall(r'\d{4}-\d{2}-\d{2}',text))
print(re.findall(r'\d{4}/\d{2}/\d{2}',text))
print(re.findall(r'\d{4}\.\d{2}\.\d{2}',text))
print(re.findall(r'\d{4}[-/]\d{2}[-/]\d{2}',text))
print(re.findall(r'\d{4}.\d{2}.\d{2}',text))
print(re.findall(r'\d{4}.0[12].\d{2}',text))
print(re.findall(r'202[34].\d{2}.\d{2}',text))

['2025-01-07']
['2024/02/01']
['2023.04.01']
['2024/02/01', '2025-01-07']
['2023.04.01', '2024/02/01', '2025-01-07']
['2024/02/01', '2025-01-07']
['2023.04.01', '2024/02/01']

In [ ]:
print(re.findall(r'\D',text))

['h', 'e', 'l', 'l', 'o', '_', '_', 'h', 'e', 'y', ' ', 'h', 'o', 'n', 'e', 'y']

In [ ]:
text = "hello_123_hey$honey "
print(re.findall(r'\w',text))
print(re.findall(r'\w\w',text))
print(re.findall(r'\w+',text))
print(re.findall(r'\W',text))

['h', 'e', 'l', 'l', 'o', '_', '1', '2', '3', '_', 'h', 'e', 'y', 'h', 'o', 'n', 'e', 'y']
['he', 'll', 'o_', '12', '3_', 'he', 'ho', 'ne']
['hello_123_hey', 'honey']
['$', ' ']

In [ ]:
text = "hello\t123_\nhey honey"
print(re.findall(r'\s',text))
print(re.findall(r'\S',text))

['\t', '\n', ' ']
['h', 'e', 'l', 'l', 'o', '1', '2', '3', '_', 'h', 'e', 'y', 'h', 'o', 'n', 'e', 'y']

In [ ]:
text = "inthe rain in spain"
for x in re.finditer(r'\bin',text):
  print(x.group(),x.span())

in (0, 2)
in (11, 13)
['in', 'in', 'in']

In [ ]:
text = "inthe rain in spain"
for x in re.finditer(r'in\b',text):
  print(x.group(),x.span())

in (8, 10)
in (11, 13)
in (17, 19)

In [ ]:
text = "inthein rain the in spain"
for x in re.finditer(r'\bthe\b',text):
  print(x.group(),x.span())

the (13, 16)

In [ ]:
text = "the rain in spain"
for x in re.finditer(r'\Bin',text):
  print(x.group(),x.span())

in (6, 8)
in (15, 17)

In [ ]:
text = "the rain in spain"
for x in re.finditer(r'ai\B',text):
  print(x.group(),x.span())

ai (5, 7)
ai (14, 16)

In [ ]:
text = "the rain in spain"
for x in re.finditer(r'\Bai\B',text):
  print(x.group(),x.span())

ai (5, 7)
ai (14, 16)

In [ ]:
#  r"abc" vs r"\babc\b"

#r"abc" Matches the substring "abc" anywhere within the text, regardless of its position
for x in ["abc","abc123","123abc","123abc456"]:
  print(re.findall(r"abc",x))

print()
#Matches "abc" only when it's  an isolated word i.e. it's not a part of any other word
# i.e., surrounded by non-word characters (such as spaces, punctuation, or the start/end of the string)
for x in ["abc123","123 abc","abc. hii","abc# hii"]:
  print(re.findall(r"\babc\b",x))

['abc']
['abc']
['abc']
['abc']

[]
['abc']
['abc']
['abc']

In [ ]:
print(re.findall(r"\AThe","The text\n quick brown fox"))
print(re.findall(r"fox\Z","The text\nThe quick brown fox"))

['The']
['fox']

# **Capture and Group**

**Ex-1**

In [ ]:
#If no groups exist, findall() returns the entire match.
#findall() returns only what’s inside the capture groups.
text = "hello_123_hey $pqr$honey  _456_hello $abcd$yoo"
print(re.findall(r'_\d+_',text))
print(re.findall(r'_(\d+)_',text))

['_123_', '_456_']
['123', '456']

In [ ]:
#If there are multiple groups, it returns tuples of those groups.
print(re.findall(r'_(\d+)_\w+\s\$(\w+)\$',text))

[('123', 'pqr'), ('456', 'abcd')]

**Ex-2**

In [ ]:
txt = """Pythonengg@gmail.com   Python-engg@gmx.de  Pythonengg123@bajaj-fin.in"""
pattern = re.compile(r"[a-zA-Z0-9-]+@[a-z-]+\.[a-z]+")
matches = pattern.findall(txt)
print(matches)

['Pythonengg@gmail.com', 'Python-engg@gmx.de', 'Pythonengg123@bajaj-fin.in']

In [ ]:
#we can also explicitly group our match objects into different substrings
pattern = re.compile(r"([a-zA-Z0-9-]+)@([a-z-]+)\.([a-z]+)")
matches = pattern.findall(txt)
print(matches)

[('Pythonengg', 'gmail', 'com'), ('Python-engg', 'gmx', 'de'), ('Pythonengg123', 'bajaj-fin', 'in')]

In [ ]:
#Use finditer() if you need both the full match and the groups.
pattern = re.compile(r"([a-zA-Z0-9-]+)@([a-z-]+)\.([a-z]+)")
matches = pattern.finditer(txt)
for match in matches:
  print(match.group(0))
  print(match.group(1))
  print(match.group(2))
  print(match.group(3))

Pythonengg@gmail.com
Pythonengg
gmail
com
Python-engg@gmx.de
Python-engg
gmx
de
Pythonengg123@bajaj-fin.in
Pythonengg123
bajaj-fin
in

# **Conditions**

In [ ]:
txt = """ hello worls 1223 2025-01-26 Mr Simpson Mrs Simpson Mr. Brown Ms Smith Mr. T"""
pattern = re.compile(r"Mr\.?\s\w+|Mrs\.?\s\w+|Ms\.?\s\w+")

matches = pattern.findall(txt)
print(matches)

['Mr Simpson', 'Mrs Simpson', 'Mr. Brown', 'Ms Smith', 'Mr. T']

In [ ]:
#above regex can also be re-written as
pattern = re.compile(r"(Mr|Mrs|Ms)\.?\s\w+")

matches = pattern.findall(txt)
print(matches)

['Mr', 'Mrs', 'Mr', 'Ms', 'Mr']

In [ ]:
#Use finditer() if you need both the full match and the groups.
pattern = re.compile(r"(Mr|Mrs|Ms)\.?\s\w+")

matches = pattern.finditer(txt)
for match in matches:
  print(match.group(0))
  print(match.group(1))

Mr Simpson
Mr
Mrs Simpson
Mrs
Mr. Brown
Mr
Ms Smith
Ms
Mr. T
Mr

# **Compilation Flags**

In [ ]:
#re.IGNORECASE
#Makes the regex case-insensitive

txt = "HELLO WORLD"
print(re.findall(r"world",txt,re.IGNORECASE))

#anotherway
pattern = re.compile(r"world",re.IGNORECASE)
print(pattern.findall(txt))

['WORLD']
['WORLD']

In [ ]:
#re.MULTILINE
#Allows ^ and $ to match the start and end of each line, rather than the entire string.
print(re.findall(r"^The","The text\nThe quick brown fox",re.MULTILINE))

['The', 'The']

In [ ]:
#re.DOTALL
#Makes the . (dot) match newline characters (\n) as well.

txt = "sourav\nkamboj"
print(re.findall(r"\w+.*\w+",txt))
print(re.findall(r"\w+.*\w+",txt,re.DOTALL))

['sourav', 'kamboj']
['sourav\nkamboj']

In [ ]:
#re.VERBOSE
#Allows whitespace and comments in the regex for better readability.

pattern = re.compile("""
            \d{4} #matches year
            -     #matches hyphen
            \d{2} #matches month
            -     #matches hyphen
            \d{2} #matches day
         """,re.VERBOSE)
print(pattern.findall("2025-01-26 01-12-2023 20204-12-19"))

['2025-01-26', '0204-12-19']

In [ ]:
#re.ASCII
#by defalut  \w \W matches unicode also

txt = "café"
pattern = re.compile(r"\w+")
print(pattern.findall(txt))

#re.ASCII makes the regex, matches only ASCII characters for word boundaries (\w, \W, etc.), ignoring Unicode.
pattern = re.compile(r"\w+",re.ASCII)
print(pattern.findall(txt)) #because 'é' is non-ASCII

['café']
['caf']

# **Combining Flags**

In [ ]:
txt = "SOURAV\nKAMBOJ"
print(re.findall(r"sourav.*kamboj", txt ,  re.DOTALL|re.IGNORECASE  ))

['SOURAV\nKAMBOJ']