# **concatination**

In [9]:
#make sure dimensions should match along the dir of concatination

import numpy as np
import pandas as pd
from numpy.random import rand as rd

a=rd(4,4)
b=rd(4,4)
c=rd(4,4)

In [10]:
d1=pd.DataFrame(a,index=[0,1,2,3],columns=['a','b','c','d'])
d2=pd.DataFrame(b,index=[4,5,6,7],columns=['a','b','c','d'])
d3=pd.DataFrame(c,index=[8,9,10,11],columns=['a','b','c','d'])

print(d1)
print('\n\n',d2)
print('\n\n',d3,'\n\n')
d=pd.concat([d1,d2,d3])
print('after concatination: ')
print(d)

          a         b         c         d
0  0.060853  0.759368  0.592767  0.981521
1  0.299231  0.229696  0.519175  0.313763
2  0.250665  0.534717  0.227000  0.912654
3  0.754891  0.978943  0.479868  0.293605


           a         b         c         d
4  0.278358  0.377085  0.985059  0.000254
5  0.134633  0.427171  0.112784  0.384473
6  0.354449  0.918800  0.321498  0.160956
7  0.532743  0.924896  0.715168  0.284213


            a         b         c         d
8   0.237870  0.378150  0.647666  0.436302
9   0.444375  0.206698  0.272769  0.532813
10  0.942643  0.838484  0.107758  0.530395
11  0.183571  0.707477  0.362055  0.966730


after concatination:
           a         b         c         d
0   0.060853  0.759368  0.592767  0.981521
1   0.299231  0.229696  0.519175  0.313763
2   0.250665  0.534717  0.227000  0.912654
3   0.754891  0.978943  0.479868  0.293605
4   0.278358  0.377085  0.985059  0.000254
5   0.134633  0.427171  0.112784  0.384473
6   0.354449  0.918800  0.321498  0.160956
7   0.532743  0.924896  0.715168  0.284213
8   0.237870  0.378150  0.647666  0.436302
9   0.444375  0.206698  0.272769  0.532813
10  0.942643  0.838484  0.107758  0.530395
11  0.183571  0.707477  0.362055  0.966730

In [15]:
#if along the dir of concatination, dimesions are different
#then include ignore_index=True

d1=pd.DataFrame(a,index=[0,1,2,3],columns=['a','b','c','d'])
d2=pd.DataFrame(b,index=[4,5,6,7],columns=['b','a','c','d'])
d3=pd.DataFrame(c,index=[8,9,10,11],columns=['a','b','d','c'])


d=pd.concat([d1,d2,d3],ignore_index=True)
print('after concatination: ')
print(d)

after concatination:
           a         b         c         d
0   0.060853  0.759368  0.592767  0.981521
1   0.299231  0.229696  0.519175  0.313763
2   0.250665  0.534717  0.227000  0.912654
3   0.754891  0.978943  0.479868  0.293605
4   0.377085  0.278358  0.985059  0.000254
5   0.427171  0.134633  0.112784  0.384473
6   0.918800  0.354449  0.321498  0.160956
7   0.924896  0.532743  0.715168  0.284213
8   0.237870  0.378150  0.436302  0.647666
9   0.444375  0.206698  0.532813  0.272769
10  0.942643  0.838484  0.530395  0.107758
11  0.183571  0.707477  0.966730  0.362055

# **appending a row to dataframe**

In [16]:
d

           a         b         c         d
0   0.060853  0.759368  0.592767  0.981521
1   0.299231  0.229696  0.519175  0.313763
2   0.250665  0.534717  0.227000  0.912654
3   0.754891  0.978943  0.479868  0.293605
4   0.377085  0.278358  0.985059  0.000254
5   0.427171  0.134633  0.112784  0.384473
6   0.918800  0.354449  0.321498  0.160956
7   0.924896  0.532743  0.715168  0.284213
8   0.237870  0.378150  0.436302  0.647666
9   0.444375  0.206698  0.532813  0.272769
10  0.942643  0.838484  0.530395  0.107758
11  0.183571  0.707477  0.966730  0.362055

In [17]:
x=np.random.rand(4)
s=pd.Series(x,index=['b','a','c','d'])
print(s)

b    0.678433
a    0.715306
c    0.677302
d    0.489864
dtype: float64

In [18]:
d.append(s,ignore_index=True)

           a         b         c         d
0   0.060853  0.759368  0.592767  0.981521
1   0.299231  0.229696  0.519175  0.313763
2   0.250665  0.534717  0.227000  0.912654
3   0.754891  0.978943  0.479868  0.293605
4   0.377085  0.278358  0.985059  0.000254
5   0.427171  0.134633  0.112784  0.384473
6   0.918800  0.354449  0.321498  0.160956
7   0.924896  0.532743  0.715168  0.284213
8   0.237870  0.378150  0.436302  0.647666
9   0.444375  0.206698  0.532813  0.272769
10  0.942643  0.838484  0.530395  0.107758
11  0.183571  0.707477  0.966730  0.362055
12  0.715306  0.678433  0.677302  0.489864

## **transpose(), head(), tail(),columns, info(), describe()**

In [25]:
d1

          a         b         c         d
0  0.060853  0.759368  0.592767  0.981521
1  0.299231  0.229696  0.519175  0.313763
2  0.250665  0.534717  0.227000  0.912654
3  0.754891  0.978943  0.479868  0.293605

In [26]:
d1.transpose()

          0         1         2         3
a  0.060853  0.299231  0.250665  0.754891
b  0.759368  0.229696  0.534717  0.978943
c  0.592767  0.519175  0.227000  0.479868
d  0.981521  0.313763  0.912654  0.293605

In [19]:
d1.head()

          a         b         c         d
0  0.060853  0.759368  0.592767  0.981521
1  0.299231  0.229696  0.519175  0.313763
2  0.250665  0.534717  0.227000  0.912654
3  0.754891  0.978943  0.479868  0.293605

In [20]:
d1.head(3)

          a         b         c         d
0  0.060853  0.759368  0.592767  0.981521
1  0.299231  0.229696  0.519175  0.313763
2  0.250665  0.534717  0.227000  0.912654

In [21]:
d1.tail(2)

          a         b         c         d
2  0.250665  0.534717  0.227000  0.912654
3  0.754891  0.978943  0.479868  0.293605

In [22]:
d1.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [23]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      float64
 1   b       4 non-null      float64
 2   c       4 non-null      float64
 3   d       4 non-null      float64
dtypes: float64(4)
memory usage: 160.0 bytes

In [24]:
d1.describe()

              a         b         c         d
count  4.000000  4.000000  4.000000  4.000000
mean   0.341410  0.625681  0.454703  0.625385
std    0.294218  0.320284  0.158850  0.372622
min    0.060853  0.229696  0.227000  0.293605
25%    0.203212  0.458461  0.416651  0.308723
50%    0.274948  0.647042  0.499522  0.613208
75%    0.413146  0.814261  0.537573  0.929870
max    0.754891  0.978943  0.592767  0.981521

# **join**

In [27]:
#join/merge are similar except the key 
#in joins we use  'index' as the key 
#in merge we use a particular column/columns as key

l=pd.DataFrame(np.random.rand(4,2),index=['k0','k1','k2','k4'],columns=['a','b'])
r=pd.DataFrame(np.random.rand(4,2),index=['k0','k2','k3','k4'],columns=['c','d'])

m1=l.join(r,how='left')
m2=l.join(r,how='right')
m3=l.join(r,how='inner')
m4=l.join(r,how='outer')
print(m1)
print(m2)
print(m3)
print(m4)

           a         b         c         d
k0  0.225921  0.947161  0.267223  0.570137
k1  0.484114  0.193553       NaN       NaN
k2  0.575755  0.283260  0.789640  0.076947
k4  0.713117  0.407737  0.319512  0.641083
           a         b         c         d
k0  0.225921  0.947161  0.267223  0.570137
k2  0.575755  0.283260  0.789640  0.076947
k3       NaN       NaN  0.411174  0.434366
k4  0.713117  0.407737  0.319512  0.641083
           a         b         c         d
k0  0.225921  0.947161  0.267223  0.570137
k2  0.575755  0.283260  0.789640  0.076947
k4  0.713117  0.407737  0.319512  0.641083
           a         b         c         d
k0  0.225921  0.947161  0.267223  0.570137
k1  0.484114  0.193553       NaN       NaN
k2  0.575755  0.283260  0.789640  0.076947
k3       NaN       NaN  0.411174  0.434366
k4  0.713117  0.407737  0.319512  0.641083

# **Merge**

In [ ]:
#merge mtd

left          takes keys of left frame only
right         takes keys of right frame only
inner         takes intersection of keys
outer         takes union of keys

In [ ]:
k0 k0     k0  k0
k0 k1     k1  k0
k1 k0     k1  k0
k2 k1     k2  k0

In [28]:
d1=pd.DataFrame({'key1':['k0','k0','k1','k2'],'key2':['k0','k1','k0','k1'],'a':['a0','a1','a2','a3'],'b':['b0','b1','b2','b3']})
d2=pd.DataFrame({'key1':['k0','k1','k1','k2'],'key2':['k0','k0','k0','k0'],'c':['c0','c1','c2','c3'],'d':['d0','d1','d2','d3']})

In [29]:
d1

  key1 key2   a   b
0   k0   k0  a0  b0
1   k0   k1  a1  b1
2   k1   k0  a2  b2
3   k2   k1  a3  b3

In [30]:
d2

  key1 key2   c   d
0   k0   k0  c0  d0
1   k1   k0  c1  d1
2   k1   k0  c2  d2
3   k2   k0  c3  d3

In [32]:
pd.merge(d1,d2, how='left', on=['key1','key2'])

  key1 key2   a   b    c    d
0   k0   k0  a0  b0   c0   d0
1   k0   k1  a1  b1  NaN  NaN
2   k1   k0  a2  b2   c1   d1
3   k1   k0  a2  b2   c2   d2
4   k2   k1  a3  b3  NaN  NaN

In [33]:
pd.merge(d1,d2, how='right', on =['key1','key2'])

  key1 key2    a    b   c   d
0   k0   k0   a0   b0  c0  d0
1   k1   k0   a2   b2  c1  d1
2   k1   k0   a2   b2  c2  d2
3   k2   k0  NaN  NaN  c3  d3

In [34]:
pd.merge(d1,d2, how='inner', on=['key1','key2'])

  key1 key2   a   b   c   d
0   k0   k0  a0  b0  c0  d0
1   k1   k0  a2  b2  c1  d1
2   k1   k0  a2  b2  c2  d2

In [35]:
pd.merge(d1,d2, how='outer', on=['key1','key2'])

  key1 key2    a    b    c    d
0   k0   k0   a0   b0   c0   d0
1   k0   k1   a1   b1  NaN  NaN
2   k1   k0   a2   b2   c1   d1
3   k1   k0   a2   b2   c2   d2
4   k2   k1   a3   b3  NaN  NaN
5   k2   k0  NaN  NaN   c3   d3