In [2]:
import pandas as pd
import numpy as np

# **isna()**

In [3]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, np.nan, np.nan],
        'Third Score':[np.nan, 40, np.nan, 98]}

df = pd.DataFrame(dict)
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN           NaN          NaN
3         95.0           NaN         98.0

In [4]:
df[~df['First Score'].isna()]

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
3         95.0           NaN         98.0

# **dropna()**

In [5]:
#dropna(how='any', subset=None)

In [6]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, np.nan, np.nan],
        'Third Score':[np.nan, 44, np.nan, np.nan]}

df2 = pd.DataFrame(dict)
df2

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         44.0
2          NaN           NaN          NaN
3         95.0           NaN          NaN

In [8]:
df2.dropna() #by default axis=0 nd how='any' nd subset = None

   First Score  Second Score  Third Score
1         90.0          45.0         44.0

In [9]:
df2.dropna(how='all')

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         44.0
3         95.0           NaN          NaN

In [10]:
df2.dropna(subset='Second Score') #here how = 'any'/'all' doesn't make any sense
                                  #it will drop rows where 'Second Score' is Nan

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         44.0

# **fillna()**

In [15]:
dict = {'First Score':  [np.nan, 90, 44, 95,3,4,6,6,3],
        'Second Score': [30, 45, 33, np.nan,5,5,6,6,5],
        'Third Score':  [np.nan, np.nan, np.nan, np.nan,9,7,6,5,9]}

df3 = pd.DataFrame(dict)
df3

   First Score  Second Score  Third Score
0          NaN          30.0          NaN
1         90.0          45.0          NaN
2         44.0          33.0          NaN
3         95.0           NaN          NaN
4          3.0           5.0          9.0
5          4.0           5.0          7.0
6          6.0           6.0          6.0
7          6.0           6.0          5.0
8          3.0           5.0          9.0

In [16]:
#on a particular column
df3['Second Score'] = df3['Second Score'].fillna(9999)
df3

   First Score  Second Score  Third Score
0          NaN          30.0          NaN
1         90.0          45.0          NaN
2         44.0          33.0          NaN
3         95.0        9999.0          NaN
4          3.0           5.0          9.0
5          4.0           5.0          7.0
6          6.0           6.0          6.0
7          6.0           6.0          5.0
8          3.0           5.0          9.0

In [17]:
#on entire dataframe
df3.fillna('n',inplace=True)
df3

<ipython-input-17-352baec42923>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'n' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df3.fillna('n',inplace=True)

  First Score  Second Score Third Score
0           n          30.0           n
1        90.0          45.0           n
2        44.0          33.0           n
3        95.0        9999.0           n
4         3.0           5.0         9.0
5         4.0           5.0         7.0
6         6.0           6.0         6.0
7         6.0           6.0         5.0
8         3.0           5.0         9.0

# **drop_duplicates()**

In [19]:
df3     #4th nd 8th are duplicate values

  First Score  Second Score Third Score
0           n          30.0           n
1        90.0          45.0           n
2        44.0          33.0           n
3        95.0        9999.0           n
4         3.0           5.0         9.0
5         4.0           5.0         7.0
6         6.0           6.0         6.0
7         6.0           6.0         5.0
8         3.0           5.0         9.0

In [23]:
df3.drop_duplicates(inplace=True)
df3

  First Score  Second Score Third Score
0           n          30.0           n
1        90.0          45.0           n
2        44.0          33.0           n
3        95.0        9999.0           n
4         3.0           5.0         9.0
5         4.0           5.0         7.0
6         6.0           6.0         6.0
7         6.0           6.0         5.0

In [25]:
df3.drop_duplicates(subset='First Score')

  First Score  Second Score Third Score
0           n          30.0           n
1        90.0          45.0           n
2        44.0          33.0           n
3        95.0        9999.0           n
4         3.0           5.0         9.0
5         4.0           5.0         7.0
6         6.0           6.0         6.0