In [ ]:
a=[1,2]
b=[3,4]
c=a*b
c

TypeError: ignored

In [ ]:
# multiplication operation can't be applied on list elements
# hence, we go for numpy array.

In [2]:
import numpy as np

a=np.array([[1,2],[3,4]])
b=np.array([[3,4],[5,6]])
a*b

array([[ 3,  8],
       [15, 24]])

In [ ]:
# 1.Numpy is a general-purpose array processing pkg.
# 2.Array in Numpy is a table containing elements, all of the same type(usually numbers), indexed by a touple of non-negative integers.
#    a) Note:Type of array can be explicitly defined while creating the array.
#    b) The type of resultant array is deduced from the type of the elements in the sequences.
# 3. In Numpy, no of dimensions of the array is known as rank of array.

# **Array Creation**

In [ ]:
#from list
#array with rank1 
a=np.array([1,2,3,4])
print(a,'\n')

#array with rank2 
b=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(b)

[1 2 3 4]

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
#matrix
m=np.matrix('1 2 3;4 5 6;7 8 9')
m

matrix([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]])

In [ ]:
#zeros, ones, eye
print(np.zeros((3,4)),'\n\n')
print(np.ones((4,3)),'\n\n')
print(np.eye((4)))

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]


[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]


[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [ ]:
np.zeros_like(b)

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [ ]:
np.diag(b)

array([1, 5, 9])

In [3]:
####################################################   1-d array
#arange(start_value,end_value,step_size)
#default s_value=0, step_size=1

a=np.arange(7)
b=np.arange(0,6,3)
c=np.arange(1,7,0.5)
d=np.arange(5,0,-0.5)
print("with default step size: ",a)
print("with step size 3: ",b)
print("with step size 0.5: ",c)
print('With step size of 0.5',d)

with default step size:  [0 1 2 3 4 5 6]
with step size 3:  [0 3]
with step size 0.5:  [1.  1.5 2.  2.5 3.  3.5 4.  4.5 5.  5.5 6.  6.5]
With step size of 0.5 [5.  4.5 4.  3.5 3.  2.5 2.  1.5 1.  0.5]

In [6]:
#arange is similar to range
#range(start_value,end_value,step_size)
#default s_value=0, step_size=1
print(list(range(0,15,3)))
print(list(range(5,1,-1)))

#but with one exception, in range step-size can't be a float value
#range(5,1,-0.5)  #its not gonna work

[0, 3, 6, 9, 12]
[5, 4, 3, 2]

In [7]:
######################################################   1-d array
#linspace(s_value,e_value,no of elements)   
#it creates arrays with specific no of elements, which are equally spaced b/w begining and end value.
e=np.linspace(2,8,5)
e

array([2. , 3.5, 5. , 6.5, 8. ])

In [ ]:
######################################################    1-d array
#randint(s_value,e_value,no of elements)

from numpy.random import randint 

#by default no of elements is 1

g=randint(45,90)
print(g)

f=randint(2,8,5)
print(f)

h=randint(1,100,10)
print(h)

i=randint(1,100,(10,2))
print(i)

58
[7 4 2 7 5]
[15  7 28 38 11 31 68 49 14 87]
[[56 41]
 [18 28]
 [19 73]
 [ 2  2]
 [18 68]
 [58 39]
 [11 28]
 [32 93]
 [25 44]
 [11 66]]

In [ ]:
from numpy import random
random.seed(34)

x=random.rand(5)
y=random.rand(2,3)
z=random.rand(3,4,2)
print("randomly constructing 1d array with 5 elements: ",x)
print('randomly const 2d array with 2 rows nd 3 columns: ',y)
print('randomly constructing 3d array: with dimensions(3,4,2): ',z)

randomly constructing 1d array with 5 elements:  [0.03856168 0.78010046 0.09270376 0.63289269 0.01389085]
randomly const 2d array with 2 rows nd 3 columns:  [[0.93615854 0.42657438 0.25308645]
 [0.18996531 0.41482463 0.01342061]]
randomly constructing 3d array: with dimensions(3,4,2):  [[[0.64847278 0.86936875]
  [0.6090357  0.80799282]
  [0.82651133 0.27168333]
  [0.83647644 0.28254136]]

 [[0.1383086  0.71472027]
  [0.47253661 0.55658848]
  [0.38557557 0.94114666]
  [0.08119068 0.91726748]]

 [[0.15693443 0.44414749]
  [0.21210604 0.17469316]
  [0.51479805 0.89289754]
  [0.92368107 0.83597855]]]

In [ ]:
print(random.randn(5,4))

[[ 1.33158302e+00 -1.42178953e-03 -2.11040542e+00 -5.50342147e-01]
 [-4.67710972e-01 -7.36519892e-01  9.97918611e-01  1.34537166e+00]
 [ 6.59756431e-01 -6.04271751e-01 -8.26122514e-01  2.37487752e-02]
 [ 6.93246142e-02 -4.88186798e-01 -4.41485591e-01 -5.97696337e-01]
 [ 8.11138348e-02 -2.42686539e-01 -3.50788166e-01  4.14090694e-01]]

In [ ]:
#random.normal(mean,std_dev,shape)
print(random.normal(-1.5,1.5,(2,8)))

[[ 0.10558987 -0.83982189 -1.82365849 -4.27622895 -0.60728823 -0.90194425
  -1.23603108 -0.61459603]
 [-2.03145479 -4.56051094 -0.91916251 -3.14525797 -1.13028438 -0.19453042
  -1.50951612 -3.8115425 ]]

In [ ]:
print(random.uniform(-1.5,1.5,10))
print(random.uniform(-1.5,1.5,(5,5)))

[ 1.41406458 -0.93718141  0.8482211   0.34080807  0.25849386 -0.12005322
 -0.66770528  0.96444608  1.28834479 -0.31586476]
[[ 1.20924259e+00  4.21680040e-01 -1.29170257e+00 -9.48457224e-04
   7.95254380e-01]
 [ 9.20300445e-01 -5.62868634e-02  1.15192241e+00  1.48658302e+00
   1.30715619e+00]
 [-2.58648533e-01  1.34955687e+00 -5.12646575e-01  4.56651066e-01
  -1.53507606e-01]
 [ 5.12927918e-01  2.01158687e-01 -1.41206539e+00  1.37422665e+00
  -1.28727450e+00]
 [-5.33584901e-01 -1.48859847e+00 -9.93086723e-01 -1.16016607e+00
  -1.27560560e+00]]