In [17]:
#multiple variable assignment

a,b,c,d=4,6.7,8.8,2
print(a,b,c,d)

4 6.7 8.8 2

In [18]:
#swapping two variables without using third variable

a = 3
b = 9

a = a+b
b = a-b
a = a-b
print(a,b)

9 3

In [19]:
a=43
b='sourav'

print(id(a)) #it gives physical address of variable
print(type(b)) # it gives data type of variable

11123936
<class 'str'>

In [20]:
p="hii"*3
w=[2]*4
y=[3,4]*2
z=(2,7)*3

print(p)
print(w)
print(y)
print(z)

hiihiihii
[2, 2, 2, 2]
[3, 4, 3, 4]
(2, 7, 2, 7, 2, 7)

In [21]:
print(['it is false',' it is true'][bool('abc')])

 it is true

# **input, split, map functions**

In [22]:
x=input('plz enter what ever u want')
print(x)

plz enter what ever u want protein shake
 protein shake

In [23]:
a = input()
print(a,type(a))

3
3 <class 'str'>

In [24]:
#by default input function will give u a str
#so if want any int value, we need to use int() explicitly

a = int(input())
b = float(input())
print(a,b)

3
7
3 7.0

In [25]:
'hii i m sourav'.split()  #space as a delimiter

['hii', 'i', 'm', 'sourav']

In [26]:
'hii/i/am/sourav/kamboj'.split('/') #'/'  as a delimiter

['hii', 'i', 'am', 'sourav', 'kamboj']

In [27]:
a,b=map(int,input().split())   # for integer values 
print(a,b)

3 5
3 5

In [28]:
a,b=map(float,input().split())   # for float values 
print(a,b)

6 7.8
6.0 7.8

In [29]:
# create (n x m) matrix
n,m=map(int,input().split())
data=[list(map(int,input().split()))  for _ in range(n)]
print(data)

2 4
1 2 5 7
4 8 6 9
[[1, 2, 5, 7], [4, 8, 6, 9]]

In [30]:
#calculate avg of 'n' elements in the list
# n-elements should be entered by user
def average(arr):
    s=0
    for x in arr:
        s=s+x
    return s/len(arr)

if __name__=='__main__':
    arr=list( map(int,input().split()) )
    avg=average(arr)
    print('average calculated: ',avg)

4 2 6 7 4 9
average calculated:  5.333333333333333

# **Any() and All()**

In [31]:
#Returns true if any of the items is True. 
#It returns False if empty or all are false. 
#Any can be thought of as a sequence of OR operations on the provided iterables.
#It short circuit the execution i.e. stop the execution as soon as the result is known.
print (any([False, False, False, False]))  
print (any([False, True, False, False]))  
print (any([True, False, False, False]))

False
True
True

In [32]:
#Returns true if all of the items are True (or if the iterable is empty).
#All can be thought of as a sequence of AND operations on the provided iterables.
#It also short circuit the execution i.e. stop the execution as soon as the result is known.

print (all([True, True, True, True]))  
print (all([False, True, True, False])) 
print (all([False, False, False]))

True
False
False