In [1]:
#list is the most basic Data Str in python. which can store multiple data types(int,float,str, etc.) simultaneously.
#it allows duplicate elements because in list each element have a particular index.
#list is mutable data structure i.e items can be added to list post to list creation.

# **creation**

In [2]:
                                        #creating a list
    
x=['hii',1,0.3,'i']         #list with multiple data strs
y=[1,2,2,2,2,3,4,4,4,5,5]   # list with duplicate items
z=[[1,2,3,[4,5]],6,[7,8,9]]    #multi-dimensional list

#accessing a particular element
print(x[2])
print(z[0][3][1])

0.3
5

# **insertion**

In [3]:
                                    #insertion at end
#append()  
#it takes one argument only
list1=['hii',1,0.3,'i']
list1.append('am')
list1.append(2)
print(list1)

#appending a list to a list'
list1.append(['sourav','kamboj'])
print(list1)

['hii', 1, 0.3, 'i', 'am', 2]
['hii', 1, 0.3, 'i', 'am', 2, ['sourav', 'kamboj']]

In [4]:
                                #insertion at end
#since append takes only one arg at a time, so it insert a single arg at a time
#what if we want to add multiple element at a single time
list2=['hey','sourav']
list3=['what','is','this']

list2.extend(list3)
print(list2)

['hey', 'sourav', 'what', 'is', 'this']

In [5]:
                              #insertion at specific index
#since append(),extend() takes a single arg only.so, its not possible to add an element at specific loc using these.
#list.insert(index,value)

listx=[1,2,35,8,2,3]
listx.insert(2,'hii')
print(listx)

[1, 2, 'hii', 35, 8, 2, 3]

In [6]:
                           #replacing at specific index
listx[1]=9999
print(listx)

[1, 9999, 'hii', 35, 8, 2, 3]

# **Deletion**

In [9]:
listy=[1,2,4,5,7,7,8,9,4,6,7,8,92,4]

#remove(item)
#it removes a particular item from list
listy.remove(92)
print('after removing 92',listy)

#if the item to be deleted have duplicate values in the list
#then it will remove the very 1st element of that particular item
#e.g. remove(7) is gonne remove the 7 at index=4 
listy.remove(7)   
print('after removing 7',listy)

after removing 92 [1, 2, 4, 5, 7, 7, 8, 9, 4, 6, 7, 8, 4]
after removing 7 [1, 2, 4, 5, 7, 8, 9, 4, 6, 7, 8, 4]

In [10]:
#pop(index)
#it uses index to delete the element
#By default it removes the last element


print('element popped out : ',listy.pop())
print('pop1',listy)

listy.pop()
print('pop2: ',listy)

listy.pop(3)
print('removing item at index=3 :',listy)

element popped out :  4
pop1 [1, 2, 4, 5, 7, 8, 9, 4, 6, 7, 8]
pop2:  [1, 2, 4, 5, 7, 8, 9, 4, 6, 7]
removing item at index=3 : [1, 2, 4, 7, 8, 9, 4, 6, 7]

In [11]:
#clear()
#it removes all the elements from the list
listy.clear()
print(listy)

[]

In [12]:
#del list[index]    deletes single element
#del list           deletes complete list



                                          #del v/s pop
#deleting an element of nested list is not possible with pop since it takes one arg at a time. hence we use del as below:
listz=[1,[2,6,8],3,4,5,6,7,8,9,0]
del listz[1][1]
print(listz)


                                             #del v/s clear

#clear removes the elements only while keeping the data str --->>>> '[]'
#del removes the data str also

del listz
print(listz)

[1, [2, 8], 3, 4, 5, 6, 7, 8, 9, 0]

NameError: ignored

# **slicing**

In [13]:
l1=['a','b','c','d','e','f','g','h','i','j','k','l','m']
#    0   1   2   3   4   5   6   7   8   9  10  11  12
#   -13 -12 -11 -10 -9  -8  -7  -6  -5  -4  -3  -2  -1

In [14]:
print(l1[:])     #entire list
print(l1[:6])    #starting to till index 5
print(l1[2:])    #index 2 to till end
print(l1[3:8])   #index 3  to  index 8-1=7  i.e. 8-3=5 elements
print(l1[1:9:2]) #skipping
print(l1[:-6])   #strating from index 0 to index 6 from last   
print(l1[::-1])  #reversing the string

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm']
['a', 'b', 'c', 'd', 'e', 'f']
['c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm']
['d', 'e', 'f', 'g', 'h']
['b', 'd', 'f', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g']
['m', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

# **list mtds**

In [23]:
a = [5,3,4,2,5,2,7,2,2]
sorted(a)

[2, 2, 2, 2, 3, 4, 5, 5, 7]

In [24]:
min(a)

2

In [25]:
max(a)

7

In [26]:
len(a)

9

In [27]:
a.count(2)

4

In [28]:
print(a)
print(a.index(7))

[5, 3, 4, 2, 5, 2, 7, 2, 2]
6