In [1]:
c=3
while(c>0):
    print(c,end=' ')
    c-=1

3 2 1

In [2]:
#sum of the elements in a list
l1=[2,2,34,5,6,77,8,9,9]
s=0
for i in l1:
    s=s+i
print(s)

152

In [3]:
#range(start_value,end_value,step_size)
#default  start_value=0
#default  step_size=1

for i in range(10):
    print(i,end=' ')
print()

for i in range(3,18):
    print(i,end=' ')
print()  

for i in range(3,18,2):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9
3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
3 5 7 9 11 13 15 17

In [6]:
#reversing the order
for i in reversed(range(1,5)):
  print(i,end = ' ')
print()

for i in range(4,0,-1):
  print(i,end =' ')
print()

4 3 2 1
4 3 2 1

In [10]:
l2=['hii','i','m','sourav','kamboj']

In [11]:
#iterating by index of sequences
for i,x in  enumerate(l2):
    print(i,x)

0 hii
1 i
2 m
3 sourav
4 kamboj

In [12]:
#continue
for x in l2:
    if x=='m':
        continue
    print(x,end=" ")

hii i sourav kamboj

In [13]:
#break
for x in l2:
    if x=='sourav':
        break
    print(x,end=" ")

hii i m

In [8]:
#nested for loops

for i in range(5):
    for j in range(3):
        print(i+j,end=' ')
    print()

0 1 2
1 2 3
2 3 4
3 4 5
4 5 6