## **Permutations**

In [1]:
from itertools import permutations

In [12]:
perm = permutations(['1','2','3'])
print(list(perm))

[('1', '2', '3'), ('1', '3', '2'), ('2', '1', '3'), ('2', '3', '1'), ('3', '1', '2'), ('3', '2', '1')]

In [11]:
sorted(list(map(lambda x:''.join(x),perm)))

['123', '132', '213', '231', '312', '321']

## **Combinations**

In [13]:
from itertools import combinations

In [14]:
combs = combinations('12345',2)
print(list(combs))

[('1', '2'), ('1', '3'), ('1', '4'), ('1', '5'), ('2', '3'), ('2', '4'), ('2', '5'), ('3', '4'), ('3', '5'), ('4', '5')]

In [15]:
combs = combinations([1,1,3,3,3],4)
print(list(combs))

[(1, 1, 3, 3), (1, 1, 3, 3), (1, 1, 3, 3), (1, 3, 3, 3), (1, 3, 3, 3)]

In [18]:
combs = combinations('HACK',2)
combs = sorted(list(map(lambda x:''.join(sorted(x)),combs)) )
print(combs)

['AC', 'AH', 'AK', 'CH', 'CK', 'HK']

## **Product**

In [19]:
from itertools import product

In [20]:
a=[1,2]                              #for 2 lists
b=[3,4]

print(list(product(a,b)))

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [25]:
a = [[5,4],[7,8],[9,10]]         #return the maximum sum
print(list(product(*a)))
print(max(list(map(lambda x:sum(x),product(*a)))))

[(5, 7, 9), (5, 7, 10), (5, 8, 9), (5, 8, 10), (4, 7, 9), (4, 7, 10), (4, 8, 9), (4, 8, 10)]
23

# **groupby**

In [26]:
from itertools import groupby

In [33]:
[k for k,g in groupby('1222311')]

['1', '2', '3', '1']

In [34]:
[list(g) for k,g in groupby('1222311')]

[['1'], ['2', '2', '2'], ['3'], ['1', '1']]

In [36]:
[(int(k),len(list(g))) for k,g in groupby('1222311')]

[(1, 1), (2, 3), (3, 1), (1, 2)]